<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="loggers.xml"/>
    <bean id = "client" class="ytkach.spring.core.beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John"/>
        <property name="greeting" value="Hello There!"/>
    </bean>
    <bean id = "app" class="ytkach.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="fileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="consoleEventLogger"></entry>
                <entry key="ERROR" value-ref="combinedEventLogger"></entry>
            </map>
        </constructor-arg>
    </bean>
    <bean id = "Event" class="ytkach.spring.core.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id = "dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>